body {
    background-color: lightslategray;
    font-family: 'Courier New', Courier, monospace;
}

header {
    background-color: antiquewhite;
    border-radius: 10px;
    padding: auto;
}

.tableed {
    background-color: antiquewhite;

}